<div id="navi-wrapper">
  <div id="navi"><h1>COMPANY BRIEF</h1></div>
</div>
<div id="content-wrapper">
  <div id="content">
    <div class="location">
      <ul>
        <li class="zh"><%= link_to '首页', root_path %> &gt; 公司简介</li>
        <li class="en"><%= link_to 'Home', root_path %> &gt; Company Brief</li>
      </ul>
    </div>
    <div class="wrapper">
      <div class="about-us">
        <div class="header">ZGB - BEIJING</div>
        <div class="intro">
          <h3>北京中冠宝投资有限责任公司</h3>
          <p>北京中冠宝投资有限责任公司是一家具有雄厚资金实力的专业投资公司。公司秉承“合作共赢”的理念，以其雄厚的实力和专业的精神，正逐步发展为国内创业投资界的新秀。</p>
        </div>
        <div class="left">
          <h3>合作共赢</h3>
          <p>近年来，中冠宝在股权投资、基金投资、工程建设、房地产开发、旅游资源开发等领域积极开展业务，现已覆盖北京、天津、成都、江苏等地。中冠宝与北京建工集团、北京首农集团成立了合作公司，对一批品质优良、潜力巨大的项目进行开发建设；与启迪创投、启明创投共同设立基金，投资了小米科技、凡客诚品、甘李药业等多个朝阳产业；中冠宝公司与中国世界500强企业及知名企业总部密切合作，积累了包括IBM、安捷伦、诺基亚、微软、甲骨文、家乐福、沃尔玛、凯宾斯基等大量客户资源，形成战略合作伙伴关系。</p>
          <br />
          <p>中冠宝将北京定位为发展重心，正筹备开发地坛“国御府”项目、来广营东路三期项目。同时，中冠宝也着眼于其他城市的房地产土地开发建设项目，直接投资开发江苏宜兴科创慧谷项目、成都郫县花园镇项目和天津华明镇项目等。</p>
          <ul>
            <% @featured_articles.each do |article| %>
            <li><%= link_to "◆ #{article.title}", article, target: '_blank' %></li>
            <% end %>
          </ul>
        </div>
        <div class="right"></div>
        <div class="clear"></div>
        <div class="bottom">
          <p>Beijing ZGB investment limited company is a professional investment company with strong financial strength. The ZGB is adhering to the "win-win" concept, with its strong and professional spirit, is gradually developing a domestic venture capital industry talent.</p>
        </div>
      </div>
    </div>
  </div>
</div>