<div id="navi-wrapper">
  <div id="navi"><h1>CONTACT US</h1></div>
</div>
<div id="content-wrapper">
  <div id="content">
    <div class="location">
      <ul>
        <li class="zh"><%= link_to '首页', root_path %> &gt; 联系我们</li>
        <li class="en"><%= link_to 'Home', root_path %> &gt; Contact Us</li>
      </ul>
    </div>
    <div class="wrapper">
      <div class="contact-us">
        <div class="header">ZGB - BEIJING</div>
        <div class="left">
          <h3>公司地址：北京市东城区朝阳门内大街55号恒亲王府</h3>
          <p>邮编：100010</p>
          <p>乘车路线：609、420、109、101等公交车，地铁2号线、地铁6号线在朝阳门站下车</p>
        </div>
        <div class="zgb4us"></div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>