<div id="navi-wrapper">
  <div id="navi"><h1>HUMAN RESOURCES</h1></div>
</div>
<div id="content-wrapper">
  <div id="content">
    <div class="location">
      <ul>
        <li class="zh">首页 &gt; 人力资源</li>
        <li class="en">Home &gt; Human Resources</li>
      </ul>
    </div>
    <div class="wrapper">
      <div class="hr">
        <div class="header">ZGB - BEIJING</div>
        <ul>
          <li class="header">招聘职位 - 北京项目招聘职位</li>
          <li>职位：</li>
          <li>职责：</li>
          <li>任职要求：</li>
          <li>工作地区：</li>
          <li>学历要求：</li>
          <li>发布时间：</li>
        </ul>
        <ul>
          <li class="header">招聘职位 - 江苏宜兴项目招聘职位</li>
          <li>职位：</li>
          <li>职责：</li>
          <li>任职要求：</li>
          <li>工作地区：</li>
          <li>学历要求：</li>
          <li>发布时间：</li>
        </ul>
        <div class="zgb4us"></div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>