body,
#chaos-container {
	background-image:url('/assets/admin/chaos-paper.png');
}

#chaos-sidebar, 
#chaos-sidebar-bg, 
#chaos-header, 
.chaos-panel .chaos-panel-header, 
#chaos-signin, 
#chaos-signin .chaos-signin-lock, 
.ui-accordion .ui-accordion-header, 
.ui-tabs .ui-tabs-nav, 
.ui-datepicker, 
.fc-event-skin, 
.ui-dialog .ui-dialog-titlebar, 
.jGrowl .jGrowl-notification, .jGrowl .jGrowl-closer, 
#chaos-user-tools .chaos-dropdown-menu .chaos-dropdown-box, 
#chaos-user-tools .chaos-dropdown-menu.open .chaos-dropdown-trigger {
	background-color:#35353a;
}

#chaos-header {
	border-color:#c5d52b;
}

.chaos-panel .chaos-panel-header span, 
#chaos-navigation ul li.active a, 
#chaos-navigation ul li.active span, 
#chaos-user-tools #chaos-account, 
#chaos-navigation ul li .chaos-nav-tooltip, 
#chaos-user-tools #chaos-user-info #chaos-user-functions #chaos-account, 
.ui-dialog .ui-dialog-title, 
.ui-state-default, 
.ui-state-active, 
.ui-state-hover, 
.ui-state-focus, 
.ui-state-default a, 
.ui-state-active a, 
.ui-state-hover a, 
.ui-state-focus a {
	color:#c5d52b;
	text-shadow:0 0 6px rgba(197, 213, 42, 0.5);
}

#chaos-searchbox .chaos-search-submit, 
.chaos-panel .chaos-panel-header .chaos-collapse-button span, 
.dataTables_wrapper .dataTables_paginate .paginate_disabled_previous, 
.dataTables_wrapper .dataTables_paginate .paginate_enabled_previous, 
.dataTables_wrapper .dataTables_paginate .paginate_disabled_next, 
.dataTables_wrapper .dataTables_paginate .paginate_enabled_next, 
.dataTables_wrapper .dataTables_paginate .paginate_active, 
.chaos-table tbody tr.odd:hover td, 
.chaos-table tbody tr.even:hover td, 
.ui-slider-horizontal .ui-slider-range, 
.ui-slider-vertical .ui-slider-range, 
.ui-progressbar .ui-progressbar-value, 
.ui-datepicker td.ui-datepicker-current-day, 
.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next, 
.ui-accordion-header .ui-accordion-header-icon, 
.ui-dialog-titlebar-close {
	background-color:#c5d52b;
}