body, div, span, p, li, a {
	font: 12px Arial;
	color: #727171;
	line-height: 16px;
}
#container {
	width: 100%;
}
#header-wrapper {
	height: 100px;
	background: #dab866;
}
#header {
	margin: 0 auto;
	width: 1150px;
	height: 100px;
	img {
		float: left;
		margin: 12px 0 0 84px;
	}
	ul {
		margin-left: 180px;
		li {
			float: left;
			padding-right: 16px;
			color: #fff;
			line-height: 100px;
			&.current {
				a {
					color: #e60012;
				}
			}
			a {
				font: 14px 'Microsoft Yahei';
				color: #fff;
				text-decoration: none;
			}
		}
	}
}
#navi-wrapper {
	height: 60px;
	background: #e60012;
}
#navi {
	margin: 0 auto;
	width: 986px;
	h1 {
		font: 32px Arial;
		font-weight: bold;
		color: #fff;
		line-height: 60px;
	}
}
#cover {
	margin: 0 auto;
	padding-left: 44px;
	width: 1106px;
	div.top {
		width: 1106px;
		height: 365px;
		background: url(/assets/cover_top.png) no-repeat;
	}
	div.poster-left {
		float: left;
		width: 180px;
		height: 140px;
		background: url(/assets/cover_poster_left.png) no-repeat;
	}
	div.poster {
		float: left;
		width: 926px;
		height: 140px;
		background: url(/assets/cover_poster_bg.png) no-repeat;
		div.prev {
			float: left;
			width: 40px;
			height: 140px;
			line-height: 180px;
		}
		div#banner-marquee {
			float: left;
			ul {
				margin-top: 10px;
				overflow: hidden;
				clear: both;
				li {
					padding-top: 14px;
					width: 204px;
					height: 100px;
					text-align: center;
					a {
						img {
							padding: 2px;
							width: 186px;
							height: 86px;
							background: #fff;
						}
					}
				}
			}
		}
		div.next {
			float: left;
			width: 40px;
			height: 140px;
			line-height: 180px;
			text-align: right;
		}
		img.control {
			padding: 40px 6px;
		}
	}
	div.bottom {
		width: 1106px;
		height: 146px;
		background: url(/assets/cover_bottom.png) no-repeat;
	}
}
#content {
	margin: 0 auto 80px;
	width: 986px;
	div.location {
		padding-top: 20px;
		height: 85px;
		ul {
			li {
				font-size: 14px;
				font-weight: bold;
				line-height: 30px;
				a {
					font-size: 14px;
					font-weight: bold;
					line-height: 30px;
					text-decoration: none;
				}
				&.zh {
					color: #e60012;
					a {
						color: #e60012;
					}
				}
				&.en {
					color: #999;
					a {
						color: #999;
					}
				}
			}
		}
	}
	div.wrapper {
		padding: 18px;
		border: 1px #9fa0a0 solid;
		h3 {
			margin-bottom: 10px;
			font-size: 14px;
			font-weight: bold;
			color: #e60012;
			a {
				margin-bottom: 10px;
				font-size: 14px;
				font-weight: bold;
				color: #e60012;
				text-decoration: none;
			}
		}
		div.zgb4us {
			float: right;
			width: 220px;
			height: 120px;
			background: url(/assets/ico_zgb4us.png) no-repeat bottom;
		}
		div.about-us {
			div.header {
				padding-left: 10px;
				height: 230px;
				background: #e60012 url(/assets/about_header.png) no-repeat bottom;
				line-height: 30px;
				font-size: 14px;
				color: #fff;
			}
			div.intro {
				padding: 20px 0;
			}
			div.left {
				float: left;
				width: 550px;
				height: 260px;
				line-height: 20px;
				ul {
					margin-top: 12px;
					li {
						a {
							color: #e60012;
							font-weight: bold;
							text-decoration: none;
						}
					}
				}
			}
			div.right {
				float: right;
				width: 390px;
				height: 260px;
				background: url(/assets/about_building.png) no-repeat;
			}
			div.bottom {
				margin-top: 40px;
			}
		}
		div.business {
			div.item {
				margin-bottom: 24px;
				padding-bottom: 24px;
				border-bottom: 1px #9fa0a0 solid;
				h2 {
					font-size: 14px;
					color: #e60012;
				}
			}
			div.red {
				ul {
					margin-top: 12px;
					li {
						float: left;
						margin-right: 16px;
						width: 218px;
						h3 {
							margin-bottom: 0;
							padding-left: 12px;
							height: 30px;
							background: #e60012;
							a {
								line-height: 30px;
								color: #fff;
								text-decoration: none;
							}
						}
						div.image {
							position: relative;
							div.cover {
								position: absolute;
								top: 0;
								z-index: 1;
								width: 222px;
								height: 162px;
								background: url(/assets/business_cover.png) no-repeat right bottom;
							}
							img {
								margin-bottom: 8px;
							}
						}
						a.more {
							float: right;
							text-decoration: none;
						}
					}
				}
			}
			div.fi {
				h2 {
					color: #dab866;
				}
				ul {
					li {
						h3 {
							display: inline-block;
							margin: 16px 0;
							padding: 6px 24px 6px 10px;
							font-size: 13px;
							font-weight: bold;
							color: #fff;
							background: #dab866 url(/assets/business_fi_right.png) no-repeat right;
						}
					}
				}
			}
			div.ei {
				ul {
					float: left;
					margin-top: 12px;
					width: 500px;
					li {
						h3 {
							display: inline-block;
							padding: 6px 24px 6px 10px;
							font-size: 13px;
							font-weight: bold;
							color: #fff;
							background: #e60012 url(/assets/business_ei_right.png) no-repeat right;
						}
					}
				}
			}
			div.acp {
				margin-bottom: 0;
				border-bottom: 0;
				h2 {
					color: #dab866;
				}
				ul {
					margin-top: 12px;
					li {
						float: left;
						margin-right: 52px;
						img {
							height: 138px;
							margin-bottom: 8px;
						}
						h3 {
							margin-left: 8px;
							a {
								color: #dab866;
								text-decoration: none;
							}
						}
						p {
							margin-left: 8px;
						}
					}
				}
			}
		}
		div.real-estate {
			div.left {
				float: left;
				padding-right: 18px;
				width: 686px;
				border-right: 1px #9fa0a0 solid;
				h1 {
					margin-bottom: 12px;
					font: 18px 'Microsoft Yahei';
					color: #e60012;
				}
				div.preview {
					float: left;
					width: 221px;
					img {
						width: 221px;
						height: 146px;
					}
				}
				div.description {
					float: right;
					width: 445px;
					height: 146px;
				}
				div.panaorama {
					padding-top: 12px;
				}
			}
			div.right {
				float: right;
				width: 230px;
				ul {
					padding: 18px 0;
					margin-bottom: 12px;
					border-bottom: 1px #9fa0a0 solid;
					li {
						line-height: 22px;
						&.zh {
							color: #e60012;
						}
					}
				}
			}
		}
		div.news-list {
			div.header {
				padding-left: 10px;
				height: 230px;
				background: #e60012 url(/assets/news_header.png) no-repeat bottom;
				line-height: 30px;
				font-size: 14px;
				color: #fff;
			}
			ul {
				margin-top: 26px;
				li {
					padding-bottom: 26px;
					margin-bottom: 26px;
					border-bottom: 1px #9fa0a0 solid;
					h3 {
						a {
							font-size: 14px;
							color: #e60012;
							text-decoration: none;
						}
						span {
							float: right;
							padding-right: 8px;
						}
					}
				}
			}
		}
		div.news-show {
			div.left {
				float: left;
				padding-right: 18px;
				width: 686px;
				border-right: 1px #9fa0a0 solid;
				h1 {
					padding: 20px 0;
					font: 22px 'Microsoft Yahei';
					color: #e60012;
					text-align: center;
				}
			}
			div.right {
				float: right;
				width: 230px;
				ul {
					padding: 18px 0;
					margin-bottom: 12px;
					border-bottom: 1px #9fa0a0 solid;
					li {
						line-height: 22px;
						&.zh {
							color: #e60012;
						}
					}
				}
			}
		}
		div.hr {
			div.header {
				padding-left: 10px;
				height: 230px;
				background: #e60012 url(/assets/hr_header.png) no-repeat bottom;
				line-height: 30px;
				font-size: 14px;
				color: #fff;
			}
			ul {
				float: left;
				margin: 20px 20px 0 0;
				li {
					line-height: 20px;
					&.header {
						font-weight: bold;
						color: #e60012;
					}
				}
			}
		}
		div.contact-us {
			div.header {
				height: 229px;
				background: #e60012;
				span {
					padding-left: 10px;
					line-height: 30px;
					font-size: 14px;
					color: #fff;
				}
				img {
					width: 948px;
				}
			}
			div.left {
				float: left;
				padding-top: 20px;
				width: 650px;
				height: 120px;
				p {
					line-height: 26px;
				}
			}
		}
	}
}
#footer-wrapper {
	height: 100px;
	background: #dab866;
}
#footer {
	margin: 0 auto;
	width: 1150px;
	div.link {
		height: 30px;
		text-align: right;
		ul {
			float: right;
			li {
				float: left;
				padding-right: 8px;
				color: #fff;
				line-height: 30px;
				a {
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
	div.news {
		padding-left: 50px;
		height: 40px;
		background: #e60012 url(/assets/footer_news_left.png) no-repeat;
		color: #fff;
		line-height: 40px;
		ul {
			float: right;
			overflow: hidden;
			width: 1020px;
			height: 40px;
			li {
				line-height: 40px;
				a {
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
}

div.clear {
	clear: both;
}